@font-face {
	font-family: "NorseBold";
	src: url("./Norsebold.otf") format("opentype"),
		url("./Norse.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
}

.form-sidebar {
	display: flex;
	align-items: center;
	background-image: url("./form-image.jpg");
	background-size: cover;
	width: 600px;
	min-width: 400px;
	height: 100vh;
	background-position: center;
	flex: 1 1 60%;
}

.overlay {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(5, 7, 1, 0.5);
	padding: 2rem;
	margin-bottom: 30rem;
}

/* form logo */
.form-sidebar img {
	width: 5rem;
	height: auto;
}

.form-sidebar h1 {
	font-family: 'NorseBold';
	color: #ffffff;
	font-size: 5rem;
}

.text-register {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	line-height: 1.3;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin-top: 5rem;
	gap: 1rem;
	margin-left: 2rem;
}


.text-register h3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.text-register h3 span {
	font-style: italic;
}

.main-form {
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	gap: 2rem;
}

.input-form h3 {
	font-weight: bold;
	margin-bottom: 1rem;
}

.input-form {
	padding: 2rem;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
}

.input-container p {
	box-sizing: border-box;
	flex: 1 0 calc(40% - 10px);
}

label {
	display: block;
}

.form-row[type="text"],
.form-row[type="email"],
.form-row[type="tel"],
.form-row[type="password"] {
	display: block;
	width: 60%;
	border-radius: 3px;
	border: 1px solid #E5E7EB;
	padding: 7px;
	font-size: 14px;
	outline: none;
}

.create-container {
	margin-left: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

.create-container button {
	font-size: 1rem;
	padding: 1rem 2rem;
	background-color: #596D48;
	color: #fff;
	border: none;
	width: 15rem;
	border-radius: 10px;
	margin-bottom: 2rem;
	font-weight: 600;
}

.create-container p {
	font-weight: 500;
}

.create-container span {
	color: #596D48;
}

.form-row[type="text"]:focus-visible,
.form-row[type="email"]:focus-visible,
.form-row[type="tel"]:focus-visible,
.form-row[type="password"]:focus-visible {
	border: 1px solid #4c4cff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-row[type="text"]:invalid,
.form-row[type="email"]:invalid,
.form-row[type="tel"]:invalid,
.form-row[type="password"]:invalid {
	border: 1px solid #D55C5F;
	color: #D55C5F;
}
